#about {
    align-items: center;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 3rem auto 10rem;
    padding: 2rem 0;
    width: 65%;
  }
  
  .profile_image {
    flex: 0 0 auto;
  }
  
  .about p {
    color: #ffff;
    flex: 1 1 auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .about h2 {
    color: #ffff;
    font-size: 2.5rem;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #about {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;
    }
  }
  