/* Import your slick-carousel styles here */

/* Add your global styles (if any) here */

.project-slide {
    text-align: center;
  }
  
  .project-slide h2 {
    margin-bottom: 10px;
  }
  
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .project-slide{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

    }

    .project-slide img {
      width: 90%;
    }

    .slick-next{
        display: none;
    }

  }
  