.skills {
    margin: 20px;
    text-align: center;
    color: #ffff;
  }
  
  .skills_title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills_content {
    flex-wrap: wrap;
  }
  
  .skills h2 {
    font-size: 2.5rem;
  }

  .skills_content h3 {
    font-size: 18px;
  }
  
  .skills_content ul {
    list-style: none;
    padding: 0;
  }
  
  .skills_content li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid rgb(33, 150, 243);
    font-size: 30px;
  }

  
  .skills_content li div {
    width: 80px;
    height: 80px;
  }
  
  .skills_content li span {
    margin-top: 10px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .skills_content {
      flex-direction: column;
    }
  
    .prog_languages,
    .other_skills {
      margin-right: 0;
    }
  }